.pane {
    -fx-background-color: #9c1a11;
    -fx-border-color: #5c100a;
    -fx-border-width: 1px;
}
.exitButton{
    -fx-background-color: none;
    -fx-text-fill: #FFD700;
    -fx-cursor: hand;
}
.exitButton:hover{
    -fx-text-fill: #e32012;
}
.progressBar{
    -fx-accent:  #FFD700;
    -fx-text-box-border:  #FFD700;
    -fx-control-inner-background:  #5c100a;
    -fx-shadow-highlight-color:  #25274D;
}

.headerPane {
    -fx-background-color: #5c100a;
    -fx-border-color: #FFD700;
    -fx-border-width: 0 0 1 0;
}

.menuPane {
    -fx-background-color: #5c100a;
    -fx-border-color: #FFD700;
    -fx-border-width: 0 1 0 0;
}

.loginFields {
    -fx-background-color: #5c100a;
    -fx-border-color: #FFD700;
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-background-radius: 50px;
    -fx-prompt-text-fill: #FFD700;
    -fx-text-fill: white;
}

.loginButton {
    -fx-background-color: #FFD700;
    -fx-background-radius: 50px;
    -fx-text-fill: #5c100a;
}

.loaderPane {
    -fx-background-color: #9c1a11;
}

.consVbox {
    -fx-background-color: #5c100a;
    -fx-text-fill: #FFD700;
    -fx-border-color: #FFD700;
    -fx-border-width: 1;
}

.menuButtons {
    -fx-background-color: none;
    -fx-text-fill: #FFD700;
    -fx-border-color: #FFD700;
    -fx-border-width: 0 0 1 0;
}

.menuButtons:hover {
    -fx-background-color: #e32012;
}


.homeButton {
    -fx-background-color: none;
    -fx-text-fill: #FFD700;
}

.homeButton:hover {
    -fx-text-fill: #e32012;
}

.loginFields:fieldsCheck {
     -fx-border-color: black;
     -fx-border-width: 1px;
}

.logoutButton {
    -fx-background-color: none;
    -fx-background-image: url("../img/logout.png");
    -fx-background-size: 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-cursor: hand;
}

.comboBox{
    -fx-background-color: #5c100a;
    -fx-border-color: #FFD700;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1.5px;
    -fx-background-radius: 10px;

}

.comboBox .text-field {
     -fx-background-color: #5c100a;
}
.comboBox .arrow-button {
    -fx-background-color: #5c100a;
    -fx-background-radius: 10px;
}

.comboBox .arrow{
     -fx-background-color: #FFD700;
}

.combo-box .list-cell {
    -fx-background-color: #5c100a;
    -fx-text-fill: #FFD700;
    -fx-background-radius: 10px;
}

.textArea {
        -fx-background-color: #5c100a;
        -fx-border-color: #FFD700;
        -fx-border-width: 1px;
        -fx-prompt-text-fill: #FFD700;
        -fx-text-fill: white;
}

.textArea .content {
    -fx-background-color: #5c100a;
}